{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h1>{% block title %} Add a Free Throw Session {% endblock %}</h1>
                <form action="{{ url_for('add')}}" method="post">
                    <div class="form-group col-sm-12">
                        <label for="date" >Date: </label>
                        <input type="date" class="form-control" id="date" name="date">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="ftmade">Free Throws Made: </label>
                        <input type="number" class="form-control" id="ftmade" name="ftmade" placeholder="0">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="ftmade">Free Throws Attempted: </label>
                        <input type="number" class="form-control" id="ftattempted" name="ftattempted" placeholder="0">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="location">Location: </label>
                        <input type="text" class="form-control" id="location" name="location" placeholder="Schaumburg">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    
    
      <!--
    <form action="{{ url_for('add')}}" method="post">
        <label for="date">Date: </label>
        <input type="date" id="date" name="date" >

        <label for="ftmade">Free Throws Made: </label>
        <input type="number" id="ftmade" name="ftmade" >

        <label for="ftattempted">Free Throws Attempted: </label>
        <input type="number" id="ftattempted" name="ftattempted" >

        <label for="location">Location: </label>
        <input type="text" id="location" name="location" >

        <button type="submit">submit</button>
    </form>
-->
{% endblock %}