<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <style>
        .post {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3;
            text-align: center;
            width: 50%;
        }

        nav a {
            color: #d64161;
            font-size: 1em;
            margin-left: 50px;
            text-decoration: none;
        }


    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Free Throw Tracker</a>
        <a href="{{ url_for('add') }}">Add FT Session</a>
        <a href="{{ url_for('statistics') }}">FT Statistics</a>
        <a href="{{ url_for('log') }}">FT Log</a>
        
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>