{% extends 'base.html' %}

{% block content %}
<br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto text-center">
                <h1>{% block title %} Free Throw Log {% endblock %}</h1>
                <h3>There are {{ vals }} records</h3>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">FT Made</th>
                            <th scope="col">FT Attempted</th>
                            <th scope="col">Location</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    
                    {% for log in logs %}
                    <tr>
                        <td>{{ log['sessionDate'] }}</td>
                        <td>{{ log['ftMade'] }}</td>
                        <td>{{ log['ftAttempted'] }}</td>
                        <td>{{ log['locationName'] }}</td>
                        <td><a href='{{url_for("edit",id=log.id)}}' class="btn btn-primary" role="button">Edit</a></td>
                        <td><a href='{{url_for("delete",id=log.id)}}' class="btn btn-danger" role="button">Delete</a></td>
                    
                    </tr>
                    
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
    
    
{% endblock %}