{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Free Throw Log {% endblock %}</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>FT Made</th>
            <th>FT Attempted</th>
            <th>Options</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log['sessionDate'] }}</td>
            <td>{{ log['ftMade'] }}</td>
            <td>{{ log['ftAttempted'] }}</td>
            <td><a href="{{url_for('edit',id=log.id)}}">Edit</a> | <a>Delete</a></td>
           
        </tr>
        
        {% endfor %}

    </table>
    
{% endblock %}