{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto text-center">    
            <h1>{% block title %} Statistics {% endblock %}</h1>
            <h3>Average FT Percentage: {{ percentage }}%</h3>
            <img src="{{url_for('static', filename='averagePercentagePlot.png')}}" height="550px" width="auto"/>
           
        </div>
        <div class="col-md-6">
            <img src="{{url_for('static', filename='locationPlot.png')}}" height="auto" width="600px"/>
        </div>
          <div class="col-md-6">
            <img src="{{url_for('static', filename='yearPlot.png')}}" height="auto" width="500px"/>
        </div>
    </div>  
</div>
{% endblock %}

